.11.0.0/
my_awesome_qa_model/*
my_awesome_qa_model/checkpoint-500
__pycache__/
*.pkl
*.csv
*.pdf
*.jpg
**/cache/
**/lancedb/
*.bin
*.graphml
*.parquet
*.csv
*.env
*.yaml
/home/cip/ce/ix05ogym/Majid/LLM/litellm/config.yaml